@page "/view"
@model SmarthomeApi.Views.IndexModel
@{
}
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Daubmeier Smarthome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/style/style.css" rel="stylesheet" type="text/css" />
    <script src="~/script/jquery.min.js"></script>
    <script src="~/script/jquery-ui.min.js"></script>
    <script src="~/script/canvasjs.min.js"></script>
    <script src="~/script/smarthome.js"></script>
</head>
<body>
    <p>
        <label for="from">Von</label>
        <input type="text" id="from" name="from">
        <label for="to">bis</label>
        <input type="text" id="to" name="to">
        <select id="charttype" name="charttype">
            <option value="solar">Solar</option>
            <option value="heating">Heizung</option>
            <option value="sensors">Raumsensoren</option>
            <option value="energy">Stromverbrauch</option>
        </select>
        <button id="reload">Neu laden</button>
    </p>
    <div id="chart"></div>
</body>
</html>